@model Conferense.Models.RegisterLoginViewModel
@{
    ViewBag.Title = "Головна";
}
<div class="main">
    <div class="container">
        <div class="row rowMain">
            @Html.Partial("_RegisterLogin")
            <div class="col-6 hiddenInfo">
                <img src="~/Content/images/1.png" alt="Diplom">
            </div>
        </div>
    </div><!--container-->
</div>
<div class="programm stopblock1" id="programm">
    <div class="container">
        <div class="row rowDirections ">
            <div class="col-lg-6 col-sm1-2">
                <img src="~/Content/images/2.png" alt="">
            </div>
            <div class="col-lg-6 col-sm-12 colDirections">
                @Html.Raw(ViewBag.data.data1)
            </div>
        </div>
    </div>
</div>

<div class="importantDates stopblock2" id="importantDates">
    <div class="container">
        <div class="row rowDirections2">
            <div class="col-lg-6 col-sm-12">
                @Html.Raw(ViewBag.data.data1)
            </div>
            <div class="col-lg-6">
                <img src="~/Content/images/3.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="secretariat stopblock4" id="secretariat">
    <div class="container">
        <h2 align="center">Секретаріат</h2>
        <div class="row rowPerson">
            <div class="col-3 personItem">
                <img src="~/Content/images/dudnik.png" alt="">
                <div class="personInfo">
                    <h4>Дуднік<br>Андрій Сергійович</h4>
                    <p>Секретар конференції</p>
                    <p>(096) 811-16-79</p>
                </div>
            </div>
            <div class="col-3 personItem">
                <img src="~/Content/images/mishchenko.png" alt="">
                <div class="personInfo">
                    <h4>Міщенко<br>Оксана Миколаївна</h4>
                    <p> Секретар конференції</p>
                    <p>(044) 481-45-82</p>
                </div>
            </div>
            <div class="col-3 personItem">
                <img src="~/Content/images/mahovich.png" alt="">
                <div class="personInfo">
                    <h4>Махович<br>Олександр Іванович</h4>
                    <p>Менеджер конференції</p>
                    <p>(097) 672-72-36</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="forStudents stopblock5" id="forStudents">
    <div class="container">
        <h2 align="center">Правила оформлення тез доповідей та умови їх видання</h2>
        <div class="row rowRules">
            @Html.Raw(ViewBag.data.data1)
        </div>
    </div>
</div>
